@font-face {
font-family: "SF Pro Display Regular";
src: url("sfpro.ttf");
src: url("sfpro.ttf") format("ttf"),
}

@font-face {
font-family: "SF Pro Display Bold";
src: url("sfbold.ttf");
src: url("sfbold.ttf") format("ttf"),
}

h1 {
font-family: 'Shakies';
font-weight: lighter;
  font-size: 70;
font-style: normal;
color: white;
text-align: center;
position: relative;
}
p {
text-align: left;  
}
h2 {
font-family: 'SF Pro Display';
font-weight: NORMAL;
font-size: 32;
font-style:normal;
color: white;
float: left;
position: relative;
}
#rcorners3 {
  border-radius: 25px;
  background: url(https://i.imgur.com/vRAkBf7.jpg);
  background-position: left top;
  background-repeat: repeat;
  padding: 5%;
  width: 30%;
  height: 40%;
  cursor: pointer;
}
#rcorners3:hover {
opacity: 70%;

}
