@font-face {
font-family: "SF Pro Display Regular";
src: url("sfpro.ttf");
src: url("sfpro.ttf") format("ttf"),
}

@font-face {
font-family: "SF Pro Display Bold";
src: url("sfbold.ttf");
src: url("sfbold.ttf") format("ttf"),
}

#fonte2 {
font-family: 'Shakies';
font-weight: lighter;
color: white;
margin-left: 50%;
font-size: 100;
}
p {
text-align: left;  
}
h2 {
font-family: 'SF Pro Display';
font-weight: NORMAL;
font-size: 32;
font-style:normal;
color: white;
float: left;
position: relative;
}
h3 {
font-family: 'SF Pro Display';
font-weight: NORMAL;
font-size: 32;
font-style:normal;
color: white;
margin-right: 50%;
position: relative;
}
#rcorners3 {
  border-radius: 25px;
  background: url(https://i.imgur.com/vRAkBf7.jpg);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 250px;
  height: 150px;
  cursor: pointer;
  text-align: center;
}
#rcorners3:hover {
opacity: 70%;

}